.floor {
    background-color: slategray;
    border: 5px solid darkslategrey;
    border-radius: .5em;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 7em;
    box-sizing: border-box;
}

.rooms {
    width: 100%;
    display: flex;
}