.floor {
    background-color: teal;
    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 8em;
    box-sizing: border-box;
    justify-content: flex-start;
}

.displayMenu {
    
}

.hideMenu {
    display: none;
}