.floor {
    background-color: slategray;
    border-top: .5em solid darkslategrey;
    display: flex;
    flex-direction: row;
    height: 7em;
    box-sizing: border-box;
}

.rooms {
    width: 100%;
    display: flex;
}