.leftElevator {
    width: 5%;
    background-color: darkslategrey;
    position: relative;
}

.rightElevator {
    width: 5%;
    background-color: darkslategrey;
    display: flex;
    position: relative;
    
}

.elevatorCar {
    width: 100%;
    height: 8em;
    background-color: black;
    position: absolute;
}