.leftElevator {
    width: 5%;
    background-color: yellow;
    position: relative;
}

.rightElevator {
    width: 5%;
    background-color: violet;
    display: flex;
    position: relative;
    
}

.elevatorCar {
    width: 100%;
    height: 8em;
    background-color: gray;
    position: absolute;
}