.newFloorButton {
  width: 20em;
  height: 20em;
  outline: none;
  border: none;
  background-color: transparent;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-image: url("../../images/Crane-large-pixel-clipart-design-clipartsfree-removebg-preview.png");
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .newFloorButton:hover .tooltiptext {
    visibility: visible;
  }