.room {
    width: 20em;
    height: 100%;
    padding: 10px;
    background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    justify-self: flex-start;
}

.roomcontextmenu {
    width: 20em;
    height: 20em;
    background-color: salmon;
}

.office {
    width: 20%;
    height: 100%;
    padding: 10px;
    background-color:gray;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    background-image: url('../../images/RoomGifs/office.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.condo {
    width: 32%;
    height: 100%;
    padding: 10px;
    background-color:gray;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    background-image: url('../../images/RoomGifs/condo.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.restaurant {
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color: blue;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    background-image: url('../../images/RoomGifs/restaurant.gif');
    background-size: contain;
    background-repeat: no-repeat;
}



.apartment {
    width: 20%;
    height: 100%;
    padding: 10px;
    background-color: blue;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    background-image: url('../../images/RoomGifs/apartment.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.entertainment {
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color:pink;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
}

.cleaning {
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color:magenta;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
}

.hotel {
    width: 10%;
    height: 100%;
    padding: 10px;
    background-color:purple;
    border: 2px solid rgba(111,41,97,.5);
    box-sizing: border-box;
    background-image: url('../../images/RoomGifs/hotel.gif');
    background-size: contain;
    background-repeat: no-repeat;
}