.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg");
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: auto;
}