.towerSelectContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.towerSelect {
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: 5px ridge #1C6EA4;
}

.towerListItem {
    font-size: 1.4em;
    cursor: grab;
}

.towerListEntry {
    font-size: 1.4em;
    width: 100%;
    text-align: center;
}

.towerListButton {
    font-size: 1.4em;
}

.instructions {
    font-size: 2em;
    color: white;
}